% encoding = 'UTF-8';
%% editing this file by right click --> open with notepad++

%% =======Protocol for climbing assay=======
	% 1. Prepare clean cylinders by washing with 0.01% Triton X-100 and then ethanol. Invert and dry on a rack.
	% 2. Set up climbing station and nikon camera on tripod. 
		% 2.1 Turn on LED lighting and white board lighting.
		% 2.2 Turn on camera and extrude lens to the furthest. Adjust the camera so that cylinder is located in middle of window. 
		% 2.3 Draw a line 1cm below the rim of a cylinder.
		% 2.4 Adjust camera and test until the image top aligns with the 1cm line, and image bottom aligns with inner bottom, and all the rest in white background.
			% Note: sometimes there are black areas on the side of cylinder base that arise from low camera angle. If so, lower the camera tripod and raise camera angle.
		% 2.5 Take several test images using random flies in a cylinder on sylgard pad, and re-adjust the focus of lens until flies are as clear as possible.
		% 2.6 Format camera card.
	% 3. Start test
		% 3.1 Write down each genotype/condition on notebook.
		% 3.2 Wear a regular cottom glove to prevent warming of cylinders by hand.
		% 3.3 Transfer a vial of ~10 flies to cylinder, plug it. 
		% 3.4 Tap flies to bottom on sylgard pad for 3 times, then allow flies to climb for 5s(place a timer nearby) and press the capture button.
		% 3.5 Write down the image name/number under relevant genotype/condition.
		% 3.6 A vial can be re-used for 10 times.
	% 4. After all vials are tested, copy the image to computer.

%% =======Image processing=======

	% =======Step 1: input the folder of Nikon camera acquired jpg images.
	% these images are to be analyzed and to generate 1 or more figures.
    rtFolder = 'D:\QMDownload\12\gstD1';

	% =======Step 2: design your "figure"-"condition/genotype/treatment"-"image name" layout
    GtpsImgAss_Ass = {
	
        %% ========Figure/Tray 0(example for tutorial only. disabled by % at beginning of rows. Do not edit)
			% 'Effect of Terazosin on SNCA.S24 fly climbing ability at day 14', % Explain: this is a one-line figure title
			% {	% Explain: each row below, input your, input 'group name', [image list from DSC_?.JPG for under this group] for this figure.
					% the [image list] can be write in quite flexible mixtured number list. For example, [2,4:3:13,56,77:-1:74] indicate [2,4,7,10,13,56,77,76,75,74], 
				%  'Q x Dros',                                 [1:6:55];   
				%  'Q x ND39[c01421-Dros]',                    [2:6:56];
				%  'S24 x Dros',                               [3:6:57];
				%  'S24 x Dros - 1uM Terazosin',               [4:6:58];
				%  'S24 x ND39[c01421-Dros]',                  [5:6:59];
				%  'S24 x ND39[c01421-Dros] - 1uM Terazosin',  [6:6:60];
			% };
        
        %% ========Figure/Tray 1 (effective hereafter). input/edit your demands
			'Effect of toxin A feeding on climbing ability',...
			{
				'Ctrl',                         [1:5];
				'abc RNAi',                     [6:10];
			};

        %% ========add more Figure/Tray if need

    };
	
	% =======Step 3: now save the config file.
	
	% =======Step 4: Run programme
		% 3.1 Double click "RMD_Climbing__run.bat", a black window will pop up.
		% 3.2 Then drag the RMD_Climbing_.exe into the black window, and press enter to run.
		% 3.3 When finished, you will see Graphpad file and csv file.

%% ======== parameters: ========
	% image name
		aPreTag = 'DSC_';
		aPostTag =  '.JPG';
		aLen = 4;
		ImgFmt = '.JPG';
	% image size and crop
		xxx.ImageHeightPixels = 3000;
		xxx.ImageHeightCm = 18.4;
		xxx.ImageCrop = [1500,50,1500,2950];
	% image pre-process
		xxx.rgbWhich = 3;
		xxx.strelShape1 = 'square';
		xxx.strelSize1 = 30;
		xxx.strelShape2 = 'disk';
		xxx.strelSize2 = 5;
	% fly filter
		xxx.flyPixelsMin = 20;
		xxx.flyEccentricityMax = 0.985;
		xxx.flyMinorMajorAxisRatioMin = 0.2;
	% csv processing
		killNaNAsk = 'Yes?';
	% parallel boosting. can be 0,1,2,...
		xxx.nPool = 2;