% encoding = 'UTF-8';

% ***** Read me *******
    % Editing this file by right click --> open with notepad++, then click Language -> M -> Matlab
    % Note, All the line starting with % are green-colored comments or demo for you to learn only. Not effective as computer code.
    % Note: Blank lines are free to add anywhere as you like, and they are coding-safe in this script. 
    % Caution: Avoid put %{ in a single line with nothing words else. This will trigger matlab section-commenting.

%% =======Protocol for climbing assay=======

	% 1. Prepare clean cylinders by washing with 0.01% Triton X-100 and then ethanol. Invert and dry on a rack.
        % cut a white spong pad of 3~4mm height and push to cylinder bottom, to protect flies from hurt during tapping. 
        
    % 2. The day before climbing assay:
        % For each genotype, split 15 males/fresh vial, and label as 1A,1B,...2A,...
        % Keep the tray in a space with same temperature as climbing workstation and cylinder, with dim light in room overnight.
        % Set up climbing station and nikon camera D3300(18-55mm) or D3400/3500(18-55mm, no line control available) on tripod. 
            % .1 Turn on LED lighting and white board lighting.
            % .2 Turn on camera and extrude lens to the furthest. Adjust the camera so that cylinder is located in middle of window. 
                % M mode;Shutter=1/25;Aperture=f5.6;ISO=auto;Image quality=normal(x3000height)
            % .3 Draw a line 1cm below the rim of a cylinder. Fill cylinder with some flies.
            % .4 Adjust camera/tripod and test until the image top aligns with the 1cm line, and image bottom aligns with inner bottom, and all the rest in white background.
                % Note: sometimes there are black areas on the side of cylinder base caused by high camera position. 
                    % If so, lower the camera tripod and raise camera angle.
            % .5 Take several test images using random flies in a cylinder on sylgard pad, and re-adjust the focus of lens until flies are as clear as possible in LV mode. Then must turn off LV mode.
            % .6 Format camera card. Turn off camera. Using TickBlue to stabilize tripod feet on ground to avoid accidental hit.
            
	% 3. Start test the next day
		% .1 Write down each genotype/condition index/label on notebook.
		% .2 Wear a regular cottom glove or dispoable glove to prevent direct warming of cylinders by hand.
		% .3 Transfer a vial of 10~15 flies to cylinder, plug it. 
		% .4 Tap flies to bottom on a thick sylgard pad (on top pf LED pad) for 3~5 times until all flies goes down, then allow flies to climb for 5s(place a timer nearby) and press the capture button.
		% .5 Write down the image name/number under relevant genotype/condition index/label on notebook.
		% .6 A vial can be re-used for 10 times.
        % .7 If a camera failure happens in the middle, copy the images immediately to computer, then fix camera error and continue with the rest assay.
        
	% 4. After all vials are tested, copy the image to computer.
        % note that if camera failure take place, the comming assay will generate images start again from DSC_0000.
            % in such case, put images in different subfolders such as Session1, Session2,...

%% =======Image processing=======

	% =======Step 1: input the folder of Nikon camera acquired jpg images.
        % these images are to be analyzed.
        % if camera failure take place and cause multiple image of same name, can place subfolders inside rtFolder to differentiate them.
        rtFolder = 'D:\QMDownload\9\ss';

	% =======Step 2: design your "figure"-"condition/genotype/treatment"-"image name position indication" layout
        GtpsImgAss_Ass = {
        
        %% ========Figure/Tray 0(example for tutorial only. disabled by % at beginning of all coding-effective rows. Do not edit)
        
            % Firstly, provide a 'one-line figure title you want to have', then add ,... to the end. For example:
                % 'Effect of Terazosin on SNCA.S24 fly climbing ability at day 14',... 
                
			% { % --Explain general: each row below, input 'group or genotype or condition name', [image list from DSC_?.JPG for under this group]; for this figure.
                % the [image list] can be write in quite flexible mixtured Matlab-style number list. 
                % For example, [2,4:3:13,56,77:-1:74] indicate [2,4,7,10,13,56,77,76,75,74], 
                
                    %  'Q x Dros',                                 [1:6:55];   
                    %  'Q x ND39[c01421-Dros]',                    [2:6:56];
                    %  'S24 x Dros',                               [3:6:57];
                    
                % --Scenario 1: if a genotype's all images are inside rtFolder, indicate number only.
                
                    %  'S24 x Dros - 1uM Terazosin',               [4:6:58];
                    
                % --Scenario 2: if a genotype's all images are split inside one or several rtFolder\subfolders, must use a cell of 'subFolderName\' and corresponding number for each genotype.
                    
                    %  'S24 x ND39[c01421-Dros]',                  {'James assigned climbing image\',[17,18];'John internship help\',[15,16];};
                
                % --Scenario 3: if a genotype's all images are that some in subfolders while some in rtFolder, for rtFolder's counterpart, use '' instead of 'subFolderName\' . 
                    
                    %  'S24 x ND39[c01421-Dros] - 1uM Terazosin',  {'',[15,16];'Smith partition\',[17,18];};
			% };
        
        %% ========Figure/Tray 1 (effective hereafter). insert/input/edit/expand with your demands
			'',...
			{ 
              '',                                   [];
			};

        %% ========add more Figure/Tray here if you need 

        
        
        
        
        
        
    };
	
	% =======Step 3: now save the config file.
	
	% =======Step 4: Run programme
        % Note: ALL the paths to the programms are suggested not to have space characters. Replace them with _ if possible.
        
		% 3.1 Double click "RMD_Climbing__run.bat", a command window will pop up.
        
		% 3.2 Then drag the RMD_Climbing_.exe into the command window, you will see its path auto-typed. 
              % Tthen type several spaces into command window.
        
        % 3.3
            % if you make your personal modified copy of this config file with a new name saved, 
                % Drag your config file into command window, then type several spaces more.
                
            % if not, then will auto-use this RMD_Climbing.config by default.
        
        % 3.4 then press enter again into command window to run.
             
		% 3.5 When finished, you will see labelled fly image, Graphpad file and csv file.

%% ======== parameters: ========
	% image name
		aPreTag = 'DSC_';
		aPostTag =  '.JPG';
		aLen = 4;
		ImgFmt = '.JPG';
        
	% image size and crop
		xxx.ImageHeightPixels = 3000;
		xxx.ImageHeightCm = 18.4;
		xxx.ImageCrop = [1500,50,1500,2950];
        
	% image process:
		xxx.rgbWhich = 3; % which channel to be analyzed? R=1,G=2,B=3. Usually B is better than R, then G.
        
        % (1) after invert,correcting uneven illumination by tophat:
            xxx.strelShape1 = 'square';
            % pixels that slightly larger than  fly body half-width, thus tophat(erode->dilate->subtract by raw) for background unevenness.
            xxx.strelSize1 = 30; 
            
        % (2) thresholding image
            % way 1: mean(img(1:1e3))/500. not stupid as long as each image has roughly same number of flies.
                % pick the dome pixels for flies for threshold calculation: total flies on a image occupy how many pixels? 
            xxx.allFliesPixelsCountPerImage = 1e3; 
            % way 2: 255*graythresh(img). a more adapted threshold.
                % just turn allFliesPixelsCountPerImage to zero, will divert to way 2.
                
        % (3) fill fly binary image body-leg-holes
            xxx.strelShape2 = 'disk';
            xxx.strelSize2 = 5; % pixels(radius) that can fill body-leg-holes thus imclose(dilate->erode) can glue all legs together as one.
            
        % (4) fly filter
            xxx.flyPixelsMin = 20;
            xxx.flyEccentricityMax = 0.985;
            xxx.flyMinorMajorAxisRatioMin = 0.2;
            
        % (5) resolving connecting flies
            % define connecting flies by [r.Perimeter]/mean([r.Perimeter] > ?
            xxx.flyConnectingCircumFdThre = 1.5;
            % crop a how large tile around centriole for resolving
            xxx.flyConnectingTileCropXY = 50; 

	% csv processing
		killNaNAsk = 'Yes?';
        
	% parallel pool computing boosting. can be 0,1,2,...
		 % (by default)0 means single-process on client.
         % 1 is single-process on a lab (useless).
         % If have too much images and need urgent analysis, can use 2,3,4,5... to turn on parallel computing. Note this will cause CPU and burden!
         xxx.nPool = 0;
